/*
 * Components
 * Copyright 2025
 * Author
 * Licensed
   component
*/
/*---------------------------*\
          Global
\*---------------------------*/
*{
    box-sizing: border-box;
    position: relative;
}
html, body {
    margin: 0;
    padding: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
/*-------------------------------------*\
     Button
\*-------------------------------------*/
.event-more-bottom-container{
    margin: 36px 0 60px 0;
    text-align: center;
}
.event-more-bottom{
    color: #fff;
    padding: 12px 48px;
    border-radius: 24px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 3px;
    border: none;
    background-color: #1fb0ff;
    box-shadow: 0 0 0 0 rgba(21, 156, 229, .5);
    cursor: pointer;
    outline: none;
    animation: Events-aaa13a94-pulse 5s infinite cubic-bezier(0.36, 4, 0, 1);
}
.event-more-bottom:hover{
    opacity: 0.8;
}
/*------------------------------------*\
    Image-container
\*------------------------------------*/
.image-container{
    width: 100%;
    height: 100%;
}
.image-container:before{
    content: '';
    display: block;
    width: 100%;
    padding-top: 50%;
}
.image-container .image{
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;

    background-repeat: no-repeat;
    background-size: contain;
}

/*-------------------------------------*\
    Navigation
\*-------------------------------------*/
/* ---home-header--- */
.header-wrapper,
.search-header-wrapper{
    position: fixed;
    width: 100%;
    z-index: 999;
}
.header-bar{
    width: 100%;
    height: 50px;
    background-color: #0088d2;
    color: #fff;
    padding: 0 10px;
}
.header-container{
    max-width: 1080px;
    width: auto;
    margin: 0 auto;
}
.header-inner{
    height: 50px;
}
.menu-icon-container{
    height: 50px;
    min-width: 20px;
    padding-right: 5px;
    cursor: pointer;
}
.menu-icon-container i {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-icon{
    cursor: pointer;
    width: 20px;
    height: 20px;
}
.header-menu-icon{
    width: 20px;
    height: 20px;
}
.area-menu-container{
    height: 50px;
    margin-right: 10px;
    margin-left: 5px;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.header-icon-globe{
    margin-right: 6px;
}
.header-icon{
    cursor: pointer;
}
.header-logo,
.cart-logo{
    width: 114px;
    position: absolute;
    top: 13px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
}
.header-logo img{
    width: 100%;
    height: 100%;
}
.header-search-input-container{
    transition: transform 0.3s ease; 
}
.header-search-input-container:hover {
    background-color: #1c7abc;
    border-radius: 16px;
}
.header-search-input-container:hover .header-keyword:before,
.header-search-input-container:hover .header-keyword-icon:after{
    display: none;
}
.header-search-input-container:hover .header-keyword-container{
    padding-left: 8px;
}
.header-keyword-container{
    width: 155px;
    max-width: 220px;
    height: 33px;
    color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: -2px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.header-keyword{
    position: absolute;
    display: inline-block;
    width: 80%;
    top: 50%;
    transform: translateY(-50%);
    text-overflow: ellipsis;
    vertical-align: middle;
    overflow: hidden;
    white-space: nowrap;
}
@media (max-width: 768px) {
    .header-keyword{
        display: none;
    }
}
.header-keyword:before {
    display: inline-block;
    content: "|";
    padding: 0 10px;
}
.header-keyword-icon{
    display: inline-flex;
    align-items: center;

    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.header-keyword-icon:after{
    display: inline-block;
    content: "|";
    padding-left: 10px;
}
.header-auth-container{
    margin: 0 5px;
}
.header-auth-herf,
.header-swich,
.header-translate{
    color: #fff;
    padding: 0 5px;
    cursor: pointer;
    transition: all 0.2s;
}
.header-auth-herf:hover,
.header-swich:hover,
.header-translate:hover{
    color: #fff;
    opacity: .7;
}
.header-caret-event-button-container{
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    padding: 6px 11px;
    background-color: #2ab3fc;
    transition: all .2s;
}
.header-caret-event-button-container:hover{
    background-color: #03a9f4;
}
.area-menu-container:hover{
    background-color: rgba(255, 255, 255, .2);
}
.cursor-pointer .fa-caret-down {
    transition: transform 0.3s ease; 
}
.cursor-pointer:hover .fa-caret-down {
    transform: rotate(180deg); 
}

/* ---tab-nav--- */
.tab-list-container{
    position: fixed; 
    top: 50px;
    width: 100%;
    height: 72px;
    background-color: #fff;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, .197498);
    margin-bottom: 10px;
    z-index: 10;
}
.tab-list{
    max-width: 1080px;
    margin: 0 auto;
    list-style-type: none;
}
.tab-item{
    flex: 1;
    text-align: center;
}
.tab-inner{
   display: block;
   width: 100%;
   margin: 16px 0;
   padding: 6px 0;
   text-align: center;
}
.tab-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.1s;
}
.tab-label{
    color: #b5bac1;
    font-size: 16px;
    font-weight: 600;
    vertical-align: middle;
    transition: all 0.1s;
}
.tab-bar{
    width: 100%;
    height: 4px;
    transition: all .3s;
}
.icon-star{
    background-image: url(../images/common/icon-tab-star.png);
}
.icon-learn{
    background-image: url(../images/common/icon-tab-learn.png);
}
.icon-art{
    background-image: url(../images/common/icon-tab-art.png);
}
.icon-experience{
    background-image: url(../images/common/icon-tab-experience.png);
}


.tab-item-1:hover .tab-bar{
    background-color: #0088d2;
}
.tab-item-1:hover  .icon-star{
    background-image: url(../images/common/icon-tab-star-hover.png);
}
.tab-item-1:hover  .tab-label{
    color: #0088d2;
}

.tab-item-2:hover  .tab-bar{
    background-color: #00579c;
}
.tab-item-2:hover  .icon-learn{
    background-image: url(../images/common/icon-tab-learn-hover.png);
}
.tab-item-2:hover  .tab-label{
    color: #00579c;
}

.tab-item-3:hover .tab-bar{
    background-color: #ffa826;
}
.tab-item-3:hover  .icon-art{
    background-image: url(../images/common/icon-tab-art-hover.png);
}
.tab-item-3:hover  .tab-label{
    color: #ffa826;
}

.tab-item-4:hover .tab-bar{
    background-color: #00b4b2;
}
.tab-item-4:hover  .icon-experience{
    background-image: url(../images/common/icon-tab-experience-hover.png);
}
.tab-item-4:hover  .tab-label{
    color: #00b4b2;
}

/* tags-counts */
.tags-counts{
    right: 16px;
    padding-left: 8px;
    background: #fff;
    color: #b5bac1;
    cursor: default;
}
.tags-counts span img{
    margin-right: 4px;
}
.tags-counts span:last-child{
    margin-left: 8px;
}

/* ---search-header--- */
.search-header-bar{
    width: 100%;
    height: 72px;
    padding: 16px 24px;
    scrollbar-color: #e7ecf3 transparent;
}
.search-header-logo-container,
.search-header-user-container{
    cursor: pointer;
    transition: transform 0.2s;
}
.search-header-link{
    color: #6d7278;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
}
.search-header-link:hover{
    color: #00aaf5;
}
.search-header-link:active{
    color: #3b3f45;
}
.search-header-divider{
    width: 1px;
    height: 16px;
    margin: 0 8px;
    background: #b5bac1;
}
.SearchTitle{
    font-size: 36px;
    font-weight: 700;
    line-height: 49px;
    color: #3b3f45;
}
.SearchPageBar{
    padding: 24px 0;
}
.SearchBarDrown{
    position: relative;
    width: 400px;
    max-width: 100%;
    margin: 0 auto;
}
.SearchBar{
    position: relative;
    height: 40px;
    padding: 0 32px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-color: #f5f5f5;
    border-radius: 20px;
    transition: all .3s ease-in-out;
}
.SearchBar input{
    background-color: rgba(0, 0, 0, 0);
    color: #3b3f45;
    width: 100%;
    padding: 7px 0;
    line-height: 7px;
    font-size: 16px;
    font-weight: 700;
    outline: none;
    border: none;
}
.SearchPage-divider{
    border-bottom: 1px solid #eff4fb;
    margin-top: 16px;
}
.tag-module{
    font-size: 14px;
    line-height: 19px;
    color: red;
    border-radius: 16px;
    background-color: #e7ecf3;
    padding: 4px 16px;
    margin-right: 8px;
    cursor: pointer;
}
.tag-module:hover{
    background-color: #b3e5fc;
}
/* ---banner--- */
.container {
    width: auto;
    max-width: 1080px;
    margin: 0 auto;
    padding: 0;
}
.banner-wrap img{
    border-radius: 16px;
    margin-bottom: 1rem;
}
@media (max-width:1024px){
    .banner-wrap img{
        width: 94vw;
        height: 47vw;
        margin: 0 auto;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
    }
}
/* filter */
.filter-btn{
    display: flex;
    height: 40px;
    overflow: hidden;
}
.filter-btn-box{
    display: flex;
    align-items: center;
    border: 1px solid #e6e6e6;
    padding: 0 16px 0 16px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
}
.filter-btn-box span{
    margin-right: 6px;
}
/* ---carousel--- */
.carousel-container{
    max-width: 1080px;
    width: auto;
    margin: 0 auto;
}

/* ---themes --- */
.themes-wrap{
    width: 100%;
    margin-top: 14px;
    margin-bottom: 14px;
}
.theme-title,
.article-title{
    font-size: 23px;
    color: #333;
    font-weight: 600;
    margin: 0;
    padding: 14px 0 16px;
}
@media (max-width:1024px){
    .themes-wrap .theme{
        gap: 18px 12px;
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 24px 16px 10px ;
        margin: -24px 0 -10px;
    }
    .themes-wrap .theme-title{
        font-size: 20px;
    }
    .theme-title,
    .article-title{
        font-size: 20px;
        padding-left: 3vw;
    }
}
/*-------------------------------------*\
    Card
\*-------------------------------------*/
.card{
    width: 340px;
    overflow: hidden;
    cursor: pointer;
    border-radius: 16px; 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); 
    transition: transform 0.5s, box-shadow 0.5s;
    background-color: #fff;
    flex-shrink: 0;
}
@media (max-width:640px) {
    .card{
        width: 428px;
        height: 366px;
    }    
}
.card:hover{
    transform: translateY(-4px);
    box-shadow: 0px 10px 35px rgba(0, 0, 0, .06) 
}
.card-image{
    width: 100%; 
    height: 170px;
    overflow: hidden;
    transition: transform 0.5s ease;
}
.card:hover .card-image{
    transform: scale(1.05);
}
.card-event-content{
    padding: 8px 16px;
    min-height: 152px;
}
.card-event-time{
    color: #b5bac1;
    font-size: 13px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 4px;
}
.card-event-name{
    height: auto;
    color: #000;
    font-size: 18px;
    line-height: 24px;
    max-height: 48px;
    letter-spacing: -0.16px;
    font-weight: 700;
    margin-bottom: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}
.card-event-name:hover{
    color: #6d7278;
}
.card-sub-info-container{
    flex-grow: 1;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 7px;
    color: #a2a2a2;
}
.card-event-location{
    cursor: pointer;
    color: #959ba1;
    font-size: 14px;
}
.card-event-location:hover i,
.card-event-location:hover span{
    filter: brightness(0.75); 
}

.location-type{
    width: 21px;
    height: 21px;
    margin-right: 4px;
    background-image: url(../images/common/event-card-location.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.video-type{
    width: 21px;
    height: 21px;
    margin-right: 4px;
    background-image: url(../images/common/icon-card-online.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.tags-container{
    min-height: 26px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    box-sizing: content-box;
    border-top: 1px solid #f5f5f5;

    padding: 4px 16px 0;
    margin-left: -16px;
    margin-right: -16px;

    position: relative;
    overflow: hidden;
}
.tags{
    display: block;
    max-width: calc(100% - 80px);
    margin: 0 4px;
    color: #b5bac1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.tags:hover{
    color: #3b3f45;
}

/* ---articles--- */
.article-wrap{
    width: 100%;
}
.article-card{
    /* width: 201px;
    height: 265px; */
    border-radius: 16px; 
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1); 
    transition: transform 0.3s, box-shadow 0.3s;
}
.article-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 10px 35px rgba(0, 0, 0, .06) 
}
.article-card-image{
    /* width: 201px; 
    height: 201px;  */
    overflow: hidden;
    transition: transform 0.5s ease;
}
.article-card:hover .article-card-image{
    transform: scale(1.05);
}
.article-card-content{
    padding: 8px 16px;
}
.article-card-name{
    color: #000;
    font-size: 15px;
    font-weight: 600;
    line-height: 19px;
    margin-top: 4px;
    margin-bottom: 6px;
    height: 38px;
    letter-spacing: -0.16px;
    font-weight: 700;
    white-space: normal;
    overflow: hidden;
}
.article-card-name:hover{
    color:#6d7278;
}

/* event-detail-wrapper */
.event-detail-wrap{
    padding-top: 50px;
}
.event-inner-container{
    position: relative;
    max-width: 1080px;
    height: 100%;
    filter: drop-shadow(0px 2px 8px rgba(0, 0, 0, 0.1));
    margin: 10px auto 16px;
}

/* event-banner-box */
.event-banner-box{
    position: relative;
}
.event-banner-bg{
    overflow: hidden;
}
.event-detail-content{
    font-size: 16px;
    word-break: break-word;
}
.event-basicInfo-container{
    padding: 24px 0 32px 48px;
    background-color: #fff;
}
.event-header-container .event-title{
    font-size: 32px;
    font-weight: 600;
    color: #212121;
    line-height: 48px;
}
.event-popularity-item{
    color: #b5bac1;
    font-size: 12px;
    font-weight: 700;
}
.event-popularity-layout .event-popularity-icon{
    margin-right: 4px;
    width: 16px;
    height: 16px;
}

/* event-info-container */
.event-info-container{
    color: #b5bac1;
    font-weight: 400;
    padding: 24px;
    font-size: 16px;
}
.event-info-timer{
    width: 100%;
    padding: 4px;
    color: #fff;
    text-align: center;
    background-color: #393d49;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .35);
    z-index: 90;
    margin-bottom: 12px;
}
.event-info-timer .timer-tick{
    vertical-align: middle;
    line-height: 58px;
    font-size: 14px;
    font-weight: bold;
    margin-right: 12px;
}
.event-info-timer .timer-description{
    width: 100%;
    max-width: 130px;
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: 600;
    text-align: left;
}
@media (max-width:1024px) {
    .event-info-timer .timer-description{
        max-width: 220px;
    }    
}
.event-subtitle-icon{
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.event-subtitle a:hover{
    color: #81d4fb;
}
.event-subtitle-content .event-subtitle{
    font-weight: 700;
    color: #595e64;
}
.event-subtitle-content .event-calendar-link{
    color: #00aaf5;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    transition: all .2s;
}
.event-subtitle-content .event-external-link{
    font-weight: 700;
    color: #595e64;
}
.event-external-link{
    font-weight: 700;
    color: #595e64;
    display: flex;
    align-items: center;
}
.event-external-link a{
    color: #ffffff;
    font-weight: 400;
    background-color: #00aaf5;
    box-shadow: 0px 2px 4px rgba(0, 170, 245, .3);
}
.event-external-link:hover a{
    background-color: #0088d2;
    box-shadow: 0px 2px 4px rgba(0, 170, 245, .3);
    color: #ffffff;
}
.event-external-link:active{
    color: #959ba1;
}
.event-external-link:hover img{
    filter: brightness(300%) contrast(100%);
}
.event-external-link .event-icon-link{
    width: 16px;
    height: 16px;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.event-content-tags-container .event-tag{
    position: relative;
    display: inline-block;
    margin-right: .5rem;
    margin-bottom: 5px;
    border: 1px solid #d8dde4;
    color: #959ba1;
    font-size: 14px;
    border-radius: 100px;
    padding: 8px 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.event-tag:hover,
.event-tag:active{
    border-color: #959ba1;
    color: #595e64;
}
.event-description{
    margin-top: 30px;
    padding: 24px 40px;
    color: #959ba1;
    border: 1px solid #eff4fb;
    font-size: 14px;
}
/* avatarBase */
.avatarBase-img-container {
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}
.avatarBase-img-container .avatar-img {
    width: 100%;
    height: 100%;
    transition: 0.8s;
}
/* orgInfo-container */
.orgInfo-container{
    padding: 24px;
}
.org-info{
    padding: 24px 24px 36px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, .1);
}
.org-title-container .org-title{
    color: #1a1f23;
    font-size: 16px;
    word-break: break-word;
    font-weight: 700;
    transition: all 0.3s;
}
.org-title-container .org-title:hover{
    color: #3e97d3; 
}
.org-description{
    color: #6d7278;
    overflow-y: hidden;
    transition: max-height .3s ease-in-out;
    max-height: 0px;
    font-size: 14px;
}
.org-expand{
    max-height: 1000px;
}
.org-description .org-info-text{
    margin: 16px 0 4px;
    word-break: break-word;
    font-weight: 700;
}
.org-register-button{
    padding: 16px;
    border-radius: 4px;
    color: #fff;
    background-image: linear-gradient(131.01deg, #3e97d3 16.3%, #1074cc 115.92%);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}
.org-register-button:hover{
    background-image: linear-gradient(#00aaf5 50%, #00aaf5 50%), linear-gradient(271.53deg, #5696ce 0.87%, #397bc7 98.7%);
}
.org-register-button i{
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
}
.org-register-button:hover i {
    transform: translateY(-50%) translateX(6px); 
}
.org-button .separator::after {
    content: '|';
    position: absolute;
    top: 35%;
    right: -6%;
    color: #ddd;
  }
.org-button i{
    padding: 16px 24px 4px;
}
.icon-hover{
    color: #bdbdbd;
    transition: all 0.4 ease;
}
.fa-heart:hover {
    font-weight: 900; 
    color: #ff8064;
}
.fa-facebook-f:hover{
    font-weight: 900;
    color: #81d4fb !important;
}
.fa-envelope:hover{
    font-weight: 900;
    color: #81d4fb !important;
}
/* ticketPage */
.ticketPage{
    margin: 20px auto 0;
    padding: 47px 40px 25px 40px;
    background-color: #fff;
}
.event-info-content{
    font-size: 14px;
    line-height: 1.5;
    color: #878787;
}
.event-info-itemName{
    font-size: 16px;
    font-weight: 600;
    line-height: 1.57;
    color: #282828;
}
.notice-card{
    padding: 8px;
    border: 1px solid #eff4fb;
    border-radius: 8px;
}
.notice-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
}
.notice-content{
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: #6d7278;
}
.ticket-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 35px 27px 27px;
    transition: all .3s;
    cursor: pointer;
    border: 1px solid #dbdbe1;
    margin-bottom: 14px;
}
.ticket-item:hover{
    background-color: #f4f7fd;
    border-left: 8px #2ea4f2 solid;
}
.ticket-item .ticket-name{
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #282828;
    letter-spacing: .6px;
}
.ticket-item .ticket-price{
    font-size: 18px;
    line-height: 30px;
    color: #282828;
    font-weight: 600;
}
.ticket-qty{
    display: none;
    margin-left: 3px;
    font-size: 17px;
    line-height: 30px;
    color: #2ea4f2;
    margin-left: 10px;
    font-weight:900 !important;
}
.ticket-qty.ticket-show{
    display: inline-block;
}
.ticket-detail{
    font-size: 16px;
    font-weight: 600;
    color: #2ea4f2;
    letter-spacing: .6px;
    cursor: pointer;
    transition: all .2s;
}
.ticket-detail:hover{
    color: #2ea4f2a3;
}

/* ticket-box */
.ticket-box{
    border: 4px solid #c8dfef;
    background-color: #c8dfef;
    border-radius: 26px;
}
.ticket-change {
    display: inline-block;
    width: 52px;
    height: 52px;
    line-height: 52px;
    border-radius: 50%; 
    text-align: center;
    cursor: pointer;
    background-color: #2ea4f2;
    box-shadow: 2px 1px 2px rgba(0, 0, 0, .1);
    transition: background-color 0.3s ease; 
}
.ticket-change:hover {
    background-color: #1c91de; 
    ; 
}
.ticket-minus,
.ticket-add{
    color: #ffffff;
    font-size: 24px;
}
.ticket-change:hover .ticket-minus,
.ticket-change:hover .ticket-add{
    color: #fff;
}
.ticket-amount{
    color: #1c91de;
    font-weight: 700;
    text-align: center;
    margin: 6px;
}


.ticket-info-container.expanded {
    max-height: 500px; 
    opacity: 1; 
}

.ticket-info-container:not(.expanded) {
    max-height: 100px; 
    opacity: 0.8; 
}

.ticket-detail {
    cursor: pointer;
    color: #007BFF; 
}

.extra-info {
    margin-top: 15px;
    color: #333; 
} */

/* 第二張ticket */
.ticket-reminder{
    flex: 1 1;
    padding: 18px 30px;
    cursor: pointer;
}

/* ticketSelect-bottom */
.ticketSelect-ticket-number{
    font-size: 15px;
    padding-bottom: 8px;
    color: #45494e;
}
.ticketSelect-bottom-container{
    bottom: 0;
    width: 100%;
    padding: 10px ;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, .05);
    transition: height .3s;
    background-color: rgb(239, 244, 251);
}
.ticketSelect-confirm-button{
    margin: 0 auto;
    height: initial;
    background-color: #2ea4f2;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    user-select: none;
}

/* cart */
.cartPage{
    margin: 28px auto 26px;
    padding: 47px 40px 42px 40px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(212, 212, 212, .5);
}
.cart-header-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;   
}
.cart-header-bar{
    width: 100%;
    height: 50px;
    scrollbar-color: #e7ecf3 transparent;
    background-color: #0088d2;
}
.stepper-header-wrap{
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgba(212, 212, 212, .5);
}
.stepper-bar{
    width: 1080px;
    margin: 0 auto;
    height: 58px;
    padding-left: 22px;
    padding-right: 19px;
}
.step-arrow{
    margin: 0 14px;
    position: relative;
}
.stepper .num{
    background-color: #fff;
    color: #d2d2d2;
    border: 1px solid #d2d2d2;
    height: 25px;
    width: 25px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
}
.stepper .title{
    margin-left: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #d2d2d2;
}
.stepper .num.stepperOn{
    color: #fff;
    background-color: #36353c;
    border-color: #36353c;
}
.stepper .title.stepperOn{
    color: #36353c;
}

.RegistrationPage-registration{
    margin-left: 3%;
    flex: 3 1;
}
.registration-headline{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 600;
    color: #282828;
}
.registration-headline-des{
    font-weight: 500;
    color: #a2a2a2;
    font-size: 14px;
}
.registration-headline-des a{
    color: #0088d2;
    text-decoration: underline;
}
.registration-forms{
    margin-bottom: 30px;
    padding-top: 20px;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}
.registration-form-items{
    border-bottom: 0;
    margin-bottom: 0;
}
.registration-form-items .form-field{
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
}
.field-label{
    font-size: 14px;
    font-weight: 600;
    line-height: 1.71;
    color: #282828;
    padding-bottom: 10px;
}
.field-required{
    color: #d84a49;
    padding-right: 3px;
}
.form-field input{
    width: 100%;
    border: 0;
    padding: 16px 24px;
    background-color: #f1f1f1;
    font-size: 16px;
}
/* formErrors */
.error input {
    border: 1px solid #d84a49;
}

.error-message {
    color: #d84a49;
    font-size: 12px;
}
  
/* 針對IE移除箭頭 */
select::-ms-expand {
    display: none;    
}
.Select{
    padding: 14px 18px 14px 24px;
    background: #f1f1f1 url(https://static.accupass.com/frontend/image/common/arrow_down_black.svg) top 22px right 22px no-repeat;
    font-size: 16px;
    color: #282828;
}
.select.country-select{
    width: 30%;
    margin-right: 12px;
}
.check-button{
    display: none;
}
.check-label{
    position: relative;
    display: inline-block;
    padding-left: 38px;
    font-size: 16px;
    color: #424242;
}
.check-label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    min-width: 25px; 
    min-height: 25px; 
    border: 1.5px solid #e2e2e2;
    border-radius: 2px; 
    background-color: #e2e2e2;
}
.check-button:checked + .check-label:before {
    background-color: #2ab3fc; 
    border-color: #2ab3fc; 
}
.check-button:checked + .check-label::after {
    content: '';
    position: absolute;
    left: 3px; 
    top: 50%;
    transform: translateY(-50%);
    width: 18px; 
    height: 18px; 
    background-image: url('https://static.accupass.com/frontend/image/common/icon_check.svg'); /* 替換為你的圖片網址 */
    background-size: contain; 
    background-repeat: no-repeat; 
}
.RegistrationPage-registration .prev-btn,
.Checkout-buttons-container .Checkout-pre-btn{
    padding: 10px 15px;
    border: solid 1px #d6d6d6;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    outline: 0;
    transition-property: all;
    transition-duration: .3s;
    background-color: #fff;
    color: #646464;
    width: 100%;
    font-weight: 400;
    max-width: 350px;
    height: 60px;
    margin-right: 10px;
}
.RegistrationPage-registration .prev-btn:hover,
.Checkout-buttons-container .Checkout-pre-btn:hover{
    background-color: #ebebeb;
}
.RegistrationPage-registration .next-btn,
.Checkout-buttons-container .Checkout-next-btn{
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    outline: 0;
    transition-property: all;
    transition-duration: .3s;
    background-color: #0088d2;
    color: #fff;
    width: 100%;
    font-weight: 600;
    max-width: 350px;
    height: 60px;
    border: 0;
}
.next-btn.disabled{
    background-color: #d6d6d6;
    color: #fff;
    pointer-events: none;
}

/* radioButton */
.radioButton-btn{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: #e2e2e2;
    cursor: pointer;
    vertical-align: middle;
    background-color: #00a8fb;
}
.radioButton-btn:before{
    position: relative;
    top: 7px;
    left: 7px;
    display: block;
    width: 6px;
    height: 6px;
    content: "";
    border-radius: 3px;
    background-color: #fff;
}
.radioButton-text{
    display: inline-block;
    margin-left: 10px;
    width: calc(99% - 30px);
    vertical-align: middle;
    font-size: 16px;
    color: #424242;
}



/* cart/payment */
.couponCode-discount-headline{
    margin-bottom: 10px;
    font-size: 16px;
    color: #757575;
}
.couponCode-code{
    padding: 12px 25px;
    width: 282px;
    height: 54px;
    font-size: 16px;
    font-weight: bold;
    color: #282828;
    border: solid 1px #e0e0e0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: #fff;
    outline: none;
}
.couponCode-locked{
    width: 374px;
    color: #6f6f6f;
    background-color: #f2f2f2;
    border-radius: 4px;
}
.couponCode-discount-btn{
    width: 92px;
    height: 54px;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #49d9b9;
    cursor: pointer;
    transition: opacity .3s;
}
.couponCode-discount-disabled{
    background-color: #d6d6d6;
    pointer-events: none;
}
.OrderDetail-headline{
    height: 72px;
    padding: 25px 36px 25px 25px;
    justify-content: space-between;
    align-items: center;
    border: solid 1px rgba(151, 151, 151, .28);
    border-radius: 4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .05);
    user-select: none;
    cursor: pointer;
}
.OrderDetail-headline .detail-label{
    margin-right: 8px;
    font-size: 18px;
    font-weight: 600;
    color: #474747;
}
.OrderDetail-toggle{
    position: relative;
    font-size: 16px;
    font-weight: 600;
    color: #00a2f2;
}
.Payment-types-group{
    margin-top: 16px;
    border: 1px solid #e8e8e8;
    border-radius: 4px;
}
.Payment-group-heading{
    border: 1px solid #e8e8e8;
    padding: 11px 19px;
    border-radius: 4px 4px 0 0;
}
.payment-left{
    flex: 1 1;
    padding: 0 10px;
    font-size: 16px;
    color: #676767;
}
.Payment-wrap{
    border: 1px solid #e8e8e8;
    padding: 11px 25px 11px 66px;
    cursor: pointer;
    background-color: none;
}
.Payment-wrap:hover{
    border-left: 4px solid #0088d2;
    background-color: #def2ff;
}
.Payment-icon-checked{
    display: none;
    color: #00a2f2;
    font-size: 2rem;
}
.Payment-wrap:hover .Payment-icon-checked,
.Payment-wrap.selected .Payment-icon-checked {
    display: block;
}
/* sort-button */
.sort-button{
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}
/* Modal */
.Modal {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .8);
}
.Cancel{
    width: 400px;
    text-align: center;
    background-color: #fff;
}
.Cancel-oops{
    width: 155px;
    padding-top: 40px;
    padding-bottom: 18px;
    margin: 0 auto;
}
.Cancel-description{
    display: inline-block;
    width: 256px;
    text-align: center;
    color: #717171;
    font-size: 16px;
    line-height: 1.63;
    margin-bottom: 32px;
}
.Cancel-buttons{
    border-top: 1px solid #e7e7e7;
}
.Cancel-buttons .Cancel-back,
.Cancel-buttons .Cancel-confirm{
    cursor: pointer;
    background-color: #fff;
    font-weight: 600;
    width: 200px;
    height: 60px;
    padding: 0;
    font-size: 16px;
    color: #00a2f2;
}

/* map */
.map-container{
    margin: 0 auto;
    max-width: 1080px;
}
.map-btn{
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease;
}
.bg-pink-300:hover {
    background-color: rgba(255, 105, 180, 0.8); 
}

.bg-blue-400:hover {
background-color: rgba(0, 123, 255, 0.8); 
}
/*---------------------------*\
           Footer
\*---------------------------*/
footer{
    background-color: #1a1f23;
    color: #fff;
    text-align: center;
}

.footer-inner{
    width: auto;
    max-width: 1080px;
    padding: 100px 0 40px 0;
    margin: 0 auto;
}
